# Numpy module
1. Array is the collection of values, but it can only contains single type of values.
2. Hierarchy in array: string(top), float, integer, bool(bottom)

In [2]:
import numpy as np

In [ ]:
np.array([20,40.9,"abc"])
#automatically convert data into single data type

In [ ]:
a=np.array([30,50.9])
print(a)

In [ ]:
type(a)

In [ ]:
b=np.array((20,40.9,"abc"))
print(b)

In [ ]:
type(b)

# Getting (subsetting) values from One-dimensional Array

In [3]:
array1=np.array((11,22,33,44))
type(array1)

numpy.ndarray

In [ ]:
array1

In [ ]:
print(array1)

In [ ]:
array1[1]
#positive_index

In [ ]:
array1[-3]
#negative_index

#surround multiple indexes with square bracket

In [5]:
array1[[0,1]]

array([11, 22])

In [6]:
array1[[0,3]]

array([11, 44])

In [8]:
array2=np.array([11,22,33,44])
array2

array([11, 22, 33, 44])

# Replace values from one dimensional array

In [10]:
array1

array([11, 22, 33, 44])

In [11]:
#replace value
array1[1]=222

In [12]:
array1

array([ 11, 222,  33,  44])

In [13]:
array1[[0,2]]=[111,333]

In [14]:
array1

array([111, 222, 333,  44])

# Two-dimensional array

In [4]:
import numpy as np

In [10]:
array2=np.array([
    [1,2,3],
    [4,5,6]
])

In [12]:
array2.ndim

2

# Subset Values

In [ ]:
syntax - arrayreference[row indexes,colomn indexes]

In [13]:
array2[0,1]

2

In [14]:
array2[1,2]

6

In [16]:
array2[[0,1],[0,1]]

array([1, 5])

In [20]:
array2[[0,1,0,1,0,1],[0,1,2,0,1,2]]

array([1, 5, 3, 4, 2, 6])

In [21]:
array2[[0,0,0,1,1,1],[0,1,2,0,1,2]]

array([1, 2, 3, 4, 5, 6])

In [22]:
array2[[-1,-1,-1,-2,-2,-2],[-1,-2,-3,-1,-2,-3]]

array([6, 5, 4, 3, 2, 1])

In [25]:
array2[[-1,-1,-1,0,0,0],[-3,-2,-1,0,1,2]]

array([4, 5, 6, 1, 2, 3])

In [26]:
array2[[-2,-1,0,1,-2,-1],[2,2,-2,-2,0,0]]

array([3, 6, 2, 5, 1, 4])

# Replace values from two-dimensional array

In [27]:
array2=np.array([
    [1,2,3],
    [4,5,6]
])

In [28]:
array2[0,1]

2

In [29]:
array2[0,1]=200

In [30]:
array2

array([[  1, 200,   3],
       [  4,   5,   6]])

In [33]:
array2[[0,1,0],[0,1,2]]

array([1, 5, 3])

In [34]:
array2[[0,1,0],[0,1,2]]=[100,500,300]

In [35]:
array2

array([[100, 200, 300],
       [  4, 500,   6]])

# Delete the values from One-dimensional array

In [15]:
array1

array([111, 222, 333,  44])

In [ ]:
aaray1[3]