# Numpy module
1. Array is the collection of values, but it can only contains single type of values.
2. Hierarchy in array: string(top), float, integer, bool(bottom)

In [2]:
import numpy as np

In [ ]:
np.array([20,40.9,"abc"])
#automatically convert data into single data type

In [ ]:
a=np.array([30,50.9])
print(a)

In [ ]:
type(a)

In [ ]:
b=np.array((20,40.9,"abc"))
print(b)

In [ ]:
type(b)

# Getting (subsetting) values from One-dimensional Array

In [3]:
array1=np.array((11,22,33,44))
type(array1)

numpy.ndarray

In [ ]:
array1

In [ ]:
print(array1)

In [ ]:
array1[1]
#positive_index

In [ ]:
array1[-3]
#negative_index

#surround multiple indexes with square bracket

In [5]:
array1[[0,1]]

array([11, 22])

In [6]:
array1[[0,3]]

array([11, 44])

In [8]:
array2=np.array([11,22,33,44])
array2

array([11, 22, 33, 44])

# Replace values from one dimensional array

In [10]:
array1

array([11, 22, 33, 44])

In [11]:
#replace value
array1[1]=222

In [12]:
array1

array([ 11, 222,  33,  44])

In [13]:
array1[[0,2]]=[111,333]

In [14]:
array1

array([111, 222, 333,  44])

# Two-dimensional array

In [ ]:
array2=np.aaray([
    [1,2,3]
    [4,5,6]
])

# Delete the values from One-dimensional array

In [15]:
array1

array([111, 222, 333,  44])

In [ ]:
aaray1[3]